Repository rlefko/flight-simulator, changes with the labels that .github/labeler.yml gives for each.
All labels: enhancement, documentation, dependencies, ci, physics, rendering, world, controls, aircraft

.github/labeler.yml:

# Add labels to PRs based on changed files
enhancement:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

ci:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

physics:
  - changed-files:
    - any-glob-to-any-file: 'src/physics/**'

rendering:
  - changed-files:
    - any-glob-to-any-file: 'src/rendering/**'

world:
  - changed-files:
    - any-glob-to-any-file: 'src/world/**'

controls:
  - changed-files:
    - any-glob-to-any-file: 'src/controls/**'

aircraft:
  - changed-files:
    - any-glob-to-any-file: 'src/aircraft/**'

🎨 Implement photorealistic terrain texture system with enhanced PBR materials
  src/rendering/SimpleWaterRenderer.ts
  src/rendering/TerrainRenderer.ts
  src/rendering/shaders/water_simple.wgsl
Labels: enhancement, rendering

🎨 Implement comprehensive atmospheric effects for photorealistic terrain rendering
  src/rendering/AtmosphericTerrainExample.ts
  src/rendering/TerrainRenderer.ts
  src/rendering/shaders/atmosphere.wgsl
Labels: enhancement, rendering

🌍 Add debug logging to identify flat terrain bug root cause
  src/rendering/TerrainRenderer.ts
  src/world/TerrainMesh.ts
Labels: enhancement, rendering, world

🌍 Enhance terrain generation with debug logging and statistics tracking
  src/rendering/SimpleWaterRenderer.ts
  src/rendering/shaders/water_simple.wgsl
  src/world/PhotorealisticHeightmapGenerator.ts
  src/world/TerrainGenerator.ts
  src/world/TerrainTile.ts
Labels: enhancement, rendering, world

🎨 Enhance tree geometry and rendering for realistic appearance
  src/rendering/SimpleVegetationRenderer.ts
Labels: enhancement, rendering

🌍 Fix vegetation grid patterns with natural Poisson disk sampling
  src/world/VegetationGenerator.ts
Labels: enhancement, world

🌍 Force visible terrain elevation with 10x amplitude boost and debug fallback
  src/world/PhotorealisticHeightmapGenerator.ts
  src/world/TerrainMesh.ts
Labels: enhancement, world

🌱 Enable and enhance SimpleGrassRenderer for terrain coverage
  src/rendering/SimpleGrassRenderer.ts
  src/rendering/WebGPURenderer.ts
Labels: enhancement, rendering
