Repository rlefko/flight-simulator, changes with the labels that .github/labeler.yml gives for each.
All labels: enhancement, documentation, dependencies, ci, physics, rendering, world, controls, aircraft

Update README.md
  README.md
Labels: documentation

Update README.md (#8)
  README.md
Labels: documentation

🎨 Enhance flight simulator initialization and rendering
  src/controls/InputManager.ts
  src/core/engine/Engine.ts
  src/core/math/Matrix4.ts
  src/core/math/Vector3.ts
  src/main.ts
  src/rendering/TerrainRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/rendering/shaders/basic.wgsl
  src/rendering/shaders/lighting.wgsl
  src/world/TerrainGenerator.ts
  src/world/TerrainStreaming.ts
  src/world/TerrainTile.ts
  src/world/WorldConstants.ts
  src/world/index.ts
Labels: enhancement, rendering, world, controls

✈️ Enhance input management with mouse delta tracking and improved controls
  src/controls/InputManager.ts
  src/controls/MouseController.ts
  src/core/engine/Engine.ts
  src/core/math/Matrix4.ts
  src/rendering/Camera.ts
  src/rendering/TerrainRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/world/HeightmapGenerator.ts
  src/world/TerrainGenerator.ts
  src/world/TerrainStreaming.ts
  src/world/TerrainTile.ts
  src/world/WorldConstants.ts
  src/world/index.ts
Labels: enhancement, rendering, world, controls

🚀 Refactor camera controls and terrain generation for improved flight simulation experience
  src/core/engine/Engine.ts
  src/core/math/Matrix4.ts
  src/rendering/Camera.ts
  src/rendering/TerrainRenderer.ts
  src/world/HeightmapGenerator.ts
  src/world/TerrainGenerator.ts
  src/world/TerrainStreaming.ts
  src/world/TerrainTile.ts
  src/world/WorldConstants.ts
Labels: enhancement, rendering, world

🌍 Enhance terrain generation system with diverse realistic features
  src/world/HeightmapGenerator.ts
  src/world/WorldConstants.ts
  tests/unit/terrain.test.ts
Labels: enhancement, world

🎨 Implement photorealistic rendering system with shadows and water reflections
  src/rendering/PerformanceOptimizer.ts
  src/rendering/ShadowSystem.ts
  src/rendering/TerrainRenderer.ts
  src/rendering/WaterRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/rendering/shaders/shadows.wgsl
  src/rendering/shaders/water.wgsl
Labels: enhancement, rendering

🌍 Implement comprehensive vegetation system with biome-based placement and GPU rendering
  src/core/engine/Engine.ts
  src/rendering/VegetationRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/rendering/index.ts
  src/rendering/pipeline/ShaderManager.ts
  src/rendering/shaders/vegetation.wgsl
  src/world/VegetationSystem.ts
  src/world/index.ts
Labels: enhancement, rendering, world

🐛 Fix camera.getFOV error in ShadowSystem
  src/rendering/ShadowSystem.ts
Labels: enhancement, rendering

🐛 Add missing applyMatrix4 method to Vector3 class
  src/core/math/Vector3.ts
Labels: enhancement

🐛 Add missing makeOrthographic method to Matrix4 class
  src/core/math/Matrix4.ts
Labels: enhancement

🐛 Fix WebGPU uniform buffer alignment for shadow system
  src/rendering/ShadowSystem.ts
Labels: enhancement, rendering

🐛 Fix WGSL uniform control flow for texture sampling
  src/rendering/TerrainRenderer.ts
  src/rendering/shaders/shadows.wgsl
Labels: enhancement, rendering

🐛 Fix WGSL uniform control flow and buffer overflow issues
  src/rendering/TerrainRenderer.ts
Labels: enhancement, rendering

🐛 Fix WebGPU command encoder lock by reordering render passes
  src/rendering/WebGPURenderer.ts
Labels: enhancement, rendering

🐛 Fix pipeline compatibility for shadow rendering and add missing getShader method
  src/rendering/TerrainRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/rendering/pipeline/ShaderManager.ts
Labels: enhancement, rendering

🐛 Fix shadow map usage conflict and vegetation depth format
  src/rendering/VegetationRenderer.ts
  src/rendering/WebGPURenderer.ts
Labels: enhancement, rendering

⚡ Optimize performance and add FPS display
  src/rendering/Camera.ts
  src/rendering/ShadowSystem.ts
  src/rendering/WebGPURenderer.ts
  src/world/TerrainGenerator.ts
  src/world/VegetationSystem.ts
Labels: enhancement, rendering, world

🎨 Fix terrain generation issues for natural landscape
  src/rendering/TerrainRenderer.ts
  src/world/HeightmapGenerator.ts
  src/world/VegetationSystem.ts
  src/world/WorldConstants.ts
Labels: enhancement, rendering, world

🐛 Fix critical rendering issues and redesign terrain generation
  glitchy.png
  src/rendering/PerformanceOptimizer.ts
  src/rendering/ShadowSystem.ts
  src/rendering/TerrainRenderer.ts
  src/rendering/VegetationRenderer.ts
  src/world/PhotorealisticHeightmapGenerator.ts
  src/world/TerrainGenerator.ts
  src/world/TerrainStreaming.ts
  src/world/VegetationSystem.ts
  src/world/index.ts
  wrong-again.png
  wrong.png
Labels: enhancement, rendering, world

🌍 Dramatically improve terrain visibility with taller mountains and water features
  src/rendering/TerrainRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/world/PhotorealisticHeightmapGenerator.ts
  src/world/VegetationGenerator.ts
  src/world/VegetationSystem.ts
Labels: enhancement, rendering, world

🎨 Fix water rendering, vegetation system, and MSAA anti-aliasing
  glitchy.png
  now.png
  src/core/engine/Engine.ts
  src/rendering/TerrainRenderer.ts
  src/rendering/VegetationRenderer.ts
  src/rendering/WaterRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/world/PhotorealisticHeightmapGenerator.ts
  src/world/VegetationSystem.ts
  src/world/WaterSystem.ts
  src/world/index.ts
  wrong-again.png
  wrong.png
Labels: enhancement, rendering, world

🌍 Enhance tree geometry creation and improve vegetation density for better visibility
  src/rendering/VegetationRenderer.ts
  src/rendering/WaterRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/world/PhotorealisticHeightmapGenerator.ts
  src/world/VegetationSystem.ts
  src/world/WaterSystem.ts
Labels: enhancement, rendering, world

🔧 Implement simplified water and vegetation renderers for stability
  ARCHITECTURE_ANALYSIS.md
  src/rendering/SimpleVegetationRenderer.ts
  src/rendering/SimpleWaterRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/rendering/shaders/water_simple.wgsl
  src/world/WaterSystem.ts
Labels: enhancement, documentation, rendering, world

🎨 Enhance graphics rendering for photorealistic flight simulator
  src/rendering/SimpleGrassRenderer.ts
  src/rendering/SimpleWaterRenderer.ts
  src/rendering/TerrainRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/world/PhotorealisticHeightmapGenerator.ts
  src/world/VegetationSystem.ts
  src/world/index.ts
Labels: enhancement, rendering, world

🎨 Simplify grass and vegetation rendering for improved performance
  src/rendering/SimpleGrassRenderer.ts
  src/rendering/SimpleVegetationRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/world/VegetationSystem.ts
Labels: enhancement, rendering, world

🎨 Implement advanced grass rendering system with multi-LOD detail
  src/rendering/GrassOverlayRenderer.ts
  src/rendering/GrassRenderer.ts
  src/rendering/WebGPURenderer.ts
  src/rendering/index.ts
  src/rendering/pipeline/ShaderManager.ts
  src/rendering/shaders/grass.wgsl
  src/world/GrassDistribution.ts
  src/world/index.ts
Labels: enhancement, rendering, world

🌍 Fix critical vegetation generation issues: floating trees and grid distribution
  src/rendering/SimpleVegetationRenderer.ts
  src/world/VegetationGenerator.ts
  src/world/VegetationSystem.ts
Labels: enhancement, rendering, world

🎨 Fix water rendering to show proper blue water instead of flat gray surface
  src/rendering/SimpleWaterRenderer.ts
Labels: enhancement, rendering

🌍 Improve terrain generation with realistic biome blending and natural colors
  src/rendering/TerrainRenderer.ts
  src/world/PhotorealisticHeightmapGenerator.ts
Labels: enhancement, rendering, world

🎨 Fix critical water rendering issues with realistic ocean colors and natural waves
  src/rendering/SimpleWaterRenderer.ts
Labels: enhancement, rendering

🔧 Update rendering configurations for stability and performance
  src/rendering/WebGPURenderer.ts
  src/rendering/shaders/grass.wgsl
  src/world/PhotorealisticHeightmapGenerator.ts
Labels: enhancement, rendering, world

🗑️ Delete now.png
  now.png
Labels: none

🎨 Fix water rendering with Gerstner waves and reflections
  src/rendering/SimpleWaterRenderer.ts
  src/rendering/shaders/water_simple.wgsl
Labels: enhancement, rendering

🐛 Fix critical water-on-hills bug in biome assignment logic
  src/world/PhotorealisticHeightmapGenerator.ts
Labels: enhancement, world

🎨 Enhance terrain and vegetation generation with improved natural algorithms
  src/rendering/SimpleWaterRenderer.ts
  src/rendering/TerrainRenderer.ts
  src/world/HeightmapGenerator.ts
  src/world/TerrainGenerator.ts
  src/world/VegetationGenerator.ts
  src/world/VegetationSystem.ts
Labels: enhancement, rendering, world

🎨 Fix terrain triplanar noise plaid pattern bug
  src/rendering/TerrainRenderer.ts
Labels: enhancement, rendering

🎨 Debug SimpleVegetationRenderer pipeline to fix invisible trees
  src/rendering/SimpleVegetationRenderer.ts
  src/rendering/WebGPURenderer.ts
Labels: enhancement, rendering

🌍 Fix broken terrain generation system with realistic algorithms
  TERRAIN_ARCHITECTURE.md
  TERRAIN_ARCHITECTURE_V2.md
  TERRAIN_RENDERING_DIAGNOSIS.md
  src/world/PhotorealisticHeightmapGenerator.ts
  src/world/WorldConstants.ts
  wrong.png
Labels: enhancement, documentation, world

🌍 Fix vegetation generation system for realistic forests and grasslands
  src/world/VegetationGenerator.ts
  src/world/VegetationSystem.ts
Labels: enhancement, world

.github/labeler.yml:

# Add labels to PRs based on changed files
enhancement:
  - changed-files:
    - any-glob-to-any-file: 'src/**/*.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'package.json'
      - 'package-lock.json'

ci:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

physics:
  - changed-files:
    - any-glob-to-any-file: 'src/physics/**'

rendering:
  - changed-files:
    - any-glob-to-any-file: 'src/rendering/**'

world:
  - changed-files:
    - any-glob-to-any-file: 'src/world/**'

controls:
  - changed-files:
    - any-glob-to-any-file: 'src/controls/**'

aircraft:
  - changed-files:
    - any-glob-to-any-file: 'src/aircraft/**'
